
header a {
    transition: .3s;
}

header a:hover {
    color: oklch(54.6% 0.245 262.881)
}

header ul::-webkit-scrollbar {
    height: 8px;
}

header ul::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.09);

}

header ul::-webkit-scrollbar-thumb {
    background-color: oklch(54.742% 0.24331 262.725 / 0.836);
    border-radius: 99px;
}

header ul::-webkit-scrollbar-thumb:hover {
    background-color: oklch(54.6% 0.245 262.881);
}